    h1{
		color:blue;
		font-size: 65px;
		border: 4px solid blue;
		background-color:red;
		text-align:center;
		letter-spacing: 25px;
		line-height: 1.5;
		text-transform: lower-alpha;
		text-shadow: 5px 9px 5px white
	}
	body{
		border: 15px solid yellow;
		margin: none;
		padding: none;
				/* background:linear-gradient(45deg, red 0%, white 30%, blue 50%) */
				/* background-image: url(images/rest.jpg);  */
		/*max-width: 1200px;*/
		/*background-repeat: no-repeat;
			background-size: 250px 250px;*/
			/* background-clip: border-box - where the picture ends; */
		/* background-text-align:center; */
		
	}	
	
	 #logo{
		width:500px;
		height:150px;
		padding:20px; 
		align:center;
	}
	.top{
		text-align:center;
		
	}
	img{
		width:150px;
		height:150px;
		border-radius: 18px;
	}
	p{
		color:white;
		font-size:25px;
		background-color:black;
	}
	/*#loc{
		/*max-width:150px;
		height:150px;*/
		/*display: inline-block !important;
		border: none*/*/
		
	}
	.square {
			list-style-type: square;
		}
		.course{
		max-width:150px;
		box-shadow:none;
		display: inline-block;
		vertical-align:top;
		}
		
	.outer{
		border:10px solid black;
		width:100%;
		/*display: inline-block;*/
		/*margin: none;
		padding: none;*/
		margin:1px;
		text-align:center;
	}	
	video {
                width: 33.333%;
                
            }	
	@media screen and (min-width: 600px) {
			div {
				display: inline-block;
				vertical-align: top;
				width:30%;
			}
	}
	@media screen and (max-width: 599px){
	div{
		display: block;
		
		/*width:95%;*/
	   }
	}	
		div{
		text-align:center;
		
		border: 4px solid blue;
		padding-bottom:3px;
		margin:1px;
		box-shadow: 0 0 28px 28px cyan inset;	
		}
		header, footer {
            position: fixed;
            width: 100%;
            text-align: center;
            background-color:pink;
			color: green;
        }
		#reg{
		display: inline-block !important;
		width: 33% !important;
		}